

<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>

<% if current_grubber %>
	<h1>Hello Grubber!</h1>
	<p>Want to send a message?</p>
	<%= form_tag(message_grubbers_path, method: :post) do %>
		<%= text_area_tag :body %><br />
		<%= submit_tag "Let\'s do this!" %>
	<% end %>
<% else %>
<h1>Hello Future Grubber. I greet you!</h1>

	<p>Would you like to receive your messages via email or your mobile number? Fill in one (or both below).</p>
	<%= form_for @grubber do |f| %>
		<% if @grubber.errors.any? %>
			<ul>
			<% @grubber.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		<% end %>
		<%= f.label :email %>
		<%= f.text_field :email %><br />
		<%= f.label :mobile %>
		<%= f.phone_field :mobile %><br />
		<%= f.label :password %>
		<%= f.password_field :password %><br />
		<%= f.submit %>
	<% end %>
<% end %>
